<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Daily journal</title>
    <link rel="stylesheet" href="/css/styles.css">
    <nav>
      <ul>
        <li id="home"><a href="/">HOME</a></li>
        <li id="about"><a href="/about">ABOUT US</a></li>
        <li id="contact"><a href="/contact">CONTACT</a></li>
      </ul>
    </nav>
  </head>
  <body>
  <div class="container">
